@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

body {
  margin: 0;
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
}

h1, h2 {
  color: rgb(91, 192, 222);
  margin: 10px;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.5em;
}

.ui-tooltip .ui-tooltip-text {
  border-radius: 10px;
  padding: 10px;
}

td, th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

